* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
}

body {
    max-width: 400px;
    max-height: 600px;
    margin: 0 auto;
    background: rgb(53,59,59);
    background: linear-gradient(90deg, rgba(53,59,59,1) 0%, rgba(78,80,85,1) 48%, rgba(114,123,126,1) 100%);
    padding: 1rem;
    margin-top: 0.6em;
}

.new-item-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.new-item-form input,
.search input {
    outline: none;
    border: 2px solid #1b263b;
    padding: 0.4em 0.8em;
    border-radius: 0.3em;
    background: #415a77;
    color: rgba(255, 255, 255, 0.8);
}

.btn {
    padding: 0.25em;
    background-color: #778da9;
    border: 2px solid #415a77;
    border-radius: 0.3em;
    color: #1b263b;
    cursor: pointer;
}

.list-title {
    margin: 1em 0 0.2em 0;
}

.list-item {
    list-style: none;
    margin: 0 0.2em;
    padding-top: 0.5em;
    height: 60vh;
    overflow: scroll;
    word-wrap: break-word;
    word-break: break-all;
    border: 1px solid #495057;
    box-shadow: 1px 1px 5px 1px;
}

.list-item::-webkit-scrollbar {
    display: none;
}

.list-item li {
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 1em;
    margin-left: 0.3em;
}

.list-item li label {
    display: flex;
    align-items: center;
    gap: 0.3em;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}

.list-item li:has(input:checked) label {
    color: rgba(255, 255, 255, 0.3);
    text-decoration: line-through 2px solid red;
}   

.list-item li input {
    height: 35px;
}

.btn-delete {
    padding: 0.4em;
    border-radius: 0.4em;
    border: 2px solid #415a77;
    color: #1b263b;
    background-color: #778da9;
    font-weight: 800;
    min-width: 19%;
    cursor: pointer;
}

.btn:hover,
.btn-delete:hover{
    background-color: #415a77;
    color: rgba(255, 255, 255, 0.8);
}

.btn:active,
.btn-delete:active {
    border: 2px solid #415a77;
    box-shadow: 0 0 0 1px;
    cursor: pointer;
    transform: translateY(1px);
    
}

.search {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    margin-top: 0.7em;
}



